.org-src-container, .example {
  background-color: #353535;
  color: #fff;
  margin-left: 5px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  .diff-added {
    /* diff-added */
    background-color: #335533;
  }
  .diff-context {
    /* diff-context */
    color: #dddddd;
  }
  .diff-file-header {
    /* diff-file-header */
    background-color: #999999;
    font-weight: bold;
  }
  .diff-header {
    /* diff-header */
    background-color: #737373;
  }
  .diff-hunk-header {
    /* diff-hunk-header */
    background-color: #737373;
  }
  .diff-indicator-added {
    /* diff-indicator-added */
    background-color: #335533;
  }
  .diff-indicator-removed {
    /* diff-indicator-removed */
    background-color: #553333;
  }
  .diff-removed {
    /* diff-removed */
    background-color: #553333;
  }
  .org-hide {
    /* org-hide */
    color: #2e3436;
  }
  .org-level-2 {
    /* org-level-2 */
    color: #fcaf3e;
  }
  .org-level-3 {
    /* org-level-3 */
    color: #b4fa70;
  }
  .org-level-4 {
    /* org-level-4 */
    color: #73d216;
  }
  .org-property-value {
  }
  .org-special-keyword {
    /* org-special-keyword */
    color: #b4fa70;
  }
  .org-table {
    /* org-table */
    color: #87cefa;
  }
  .org-tag {
    /* org-tag */
    font-weight: bold;
  }
  .region {
    /* region */
    background-color: #555753;
  }
}